{{ 2 + 2 + 2 }}
<br/>
{% set num = 2 + 2 %}
{{ num }}
<br/><br/>
<h1>Soma</h1>
{{ 2 + 2 + 2 }}
<br/>
<h1>Subtração</h1>
{% set num = 2 - 2 %}
{{ num }}
<h1>Divisão com Arredondamento</h1>
{{ 20 // 3}}
<h1>Concatenação</h1>
{{ "Thiago Luna " ~ "de Melo"}}