<h1>Variáveis</h1>
{% set name = 'Aline Diogo - ' %}
{% set num = 2 %}
<br/>
{{ name ~ num}}
<br/><br/>
{% 
set name, num = 'Arthur - ', 16
%}
{{ name ~ num}}
<br/>

{% set h1 %}
    <h1> Titulo </h1>
{% endset %}
<br/>
{{ h1 }}

